

html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  height: 100%;
}

html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: normal;
  text-rendering: optimizeLegibility;
}

html {
  display: block;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f6f8f9;
  color: #151b26;
  font-size: 13px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:active, a:hover {
  outline: 0;
}
div {
  display: block;
}


button {
  outline:0;
  border: none;
  cursor: pointer;
}

button:focus {
  outline:0;
}

button:active{
  outline:0;
  background-color: rgba(200,200,200,1);
}
